<app-header></app-header>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mt-2">
                <div class="mb-5 mt-5">
                  <h3 class="fw-bold fs-2" style="color: #FFCC00;">Subjects</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 me-3 mb-2" *ngFor="let item of allSubjects ; let index = index">
                <div class="rounded-3 p-3 fs-3 text-center mb-2"   style="background-color: #FAF5E9;">
                    <p>{{item.subjectName}}</p>
                </div>
                <div class="d-flex justify-content-center" role="group" aria-label="Basic example" *ngIf="usersLogin?.status =='doctor'">
                    <button type="button" class="btn me-3" style="background-color: #009B4D;" routerLink="/show-exam/{{item.id}}">View</button>
                    <button type="button" class="btn btn-danger" (click)="deleteExam(index)">Delete</button>
                </div>
                <div class="d-flex justify-content-center"  *ngIf="usersLogin?.status =='students'">
                    <button type="button" class="btn text-center" style="background-color: #009B4D;" routerLink="/show-exam/{{item.id}}">Start Exam</button>
                </div>
            </div>
        </div>
    </div>
</section>